

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 40px;
}



img {
    display: block;
    width: 100%;
}

main {  margin: auto;
}

#landing {
    background: #fff;
}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
}

#landing-text h2 {
    color: #888;
}

#landing-image { display: flex;
    flex-wrap: wrap;
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    max-width: 150px;
    padding: 50vh;
   flex-wrap: wrap;
}

.btn {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    color: #333;
}

.btn:hover {
    background: #f4f4f4;
}

#header {
    padding: 25px;
    margin: 10px;
    text-align: center;
    background: #333;
  
}

#header h2 {
    padding-right: 16px;
    padding-left: 16px;
}

.caption {
    padding: 15px;
    text-align: center;
}

footer {
    text-align: center;
    margin: auto;
    color: #333;
}

footer h3 {
    font-size: 50px;
   
}

span{
    color: red;
}

@media{
    #landing {
        display: flex;
    }

    #landing-text {
        height: 100vh;
    }

    #landing-image {
        height: 100vh;
    }
}


.carousel-img {
    display: flex;
}